.nav
  img.logo(src='assets/img/logo.svg', alt='Itta')
  p.phone
    a(href='tel:+79062202004')
      | +7 (906) 220-20-04
  p.email
    a(href='mailto:zakaz@itta-mebel.ru')
      | zakaz@itta-mebel.ru