extends ../layout/main

block content
  .header-content
    .container
      .pic
        img(src='assets/img/offer-pic1.jpg', alt='')
      .offer
        h1
          | Высокие технологии комфорта
        p
          | Производство и монтаж мебели от идеи
          | до ввода в эксплуатацию
        button.btn
          span.arrow →
          span Оставить заявку