//- include ../utils/mixins

doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    title Itta Мебель
    // Подключение favicon
    link(rel='shortcut icon', href='assets/img/favicon.png', type='image/x-icon')
    link(rel='apple-touch-icon', href='assets/img/favicon.png', sizes='50x50')
    link(rel='apple-touch-icon', sizes='72x72', href='assets/img/favicon.png')
    link(rel='apple-touch-icon', sizes='114x114', href='assets/img/favicon.png')
  body
    header.header
      include ../includes/modules/header
      block content
      include ../includes/modules/footer